<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @listing.user_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @listing.address %>
</p>

<p>
  <strong>Hometype:</strong>
  <%= @listing.hometype %>
</p>

<p>
  <strong>Roomtype:</strong>
  <%= @listing.roomtype %>
</p>

<p>
  <strong>Number of beds:</strong>
  <%= @listing.number_of_beds %>
</p>

<p>
  <strong>Bedtype:</strong>
  <%= @listing.bedtype %>
</p>

<p>
  <strong>Listing name:</strong>
  <%= @listing.listing_name %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @listing.summary %>
</p>

<p>
  <strong>Country:</strong>
  <%= @listing.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @listing.city %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @listing.address2 %>
</p>

<p>
  <strong>State:</strong>
  <%= @listing.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @listing.zipcode %>
</p>

<p>
  <strong>Essentials:</strong>
  <%= @listing.essentials %>
</p>

<p>
  <strong>Tv:</strong>
  <%= @listing.tv %>
</p>

<p>
  <strong>Cabletv:</strong>
  <%= @listing.cabletv %>
</p>

<p>
  <strong>Aircond:</strong>
  <%= @listing.aircond %>
</p>

<p>
  <strong>Heating:</strong>
  <%= @listing.heating %>
</p>

<p>
  <strong>Kitchen:</strong>
  <%= @listing.kitchen %>
</p>

<p>
  <strong>Internet:</strong>
  <%= @listing.internet %>
</p>

<p>
  <strong>Wireless:</strong>
  <%= @listing.wireless %>
</p>

<p>
  <strong>Anytime:</strong>
  <%= @listing.anytime %>
</p>

<p>
  <strong>Hottub:</strong>
  <%= @listing.hottub %>
</p>

<p>
  <strong>Washer:</strong>
  <%= @listing.washer %>
</p>

<p>
  <strong>Pool:</strong>
  <%= @listing.pool %>
</p>

<p>
  <strong>Dryer:</strong>
  <%= @listing.dryer %>
</p>

<p>
  <strong>Breakfast:</strong>
  <%= @listing.breakfast %>
</p>

<p>
  <strong>Freeparking:</strong>
  <%= @listing.freeparking %>
</p>

<p>
  <strong>Gym:</strong>
  <%= @listing.gym %>
</p>

<p>
  <strong>Elevator:</strong>
  <%= @listing.elevator %>
</p>

<p>
  <strong>Fireplace:</strong>
  <%= @listing.fireplace %>
</p>

<p>
  <strong>Intercom:</strong>
  <%= @listing.intercom %>
</p>

<p>
  <strong>Doorman:</strong>
  <%= @listing.doorman %>
</p>

<p>
  <strong>Shampoo:</strong>
  <%= @listing.shampoo %>
</p>

<p>
  <strong>Hangers:</strong>
  <%= @listing.hangers %>
</p>

<p>
  <strong>Hairdryer:</strong>
  <%= @listing.hairdryer %>
</p>

<p>
  <strong>Iron:</strong>
  <%= @listing.iron %>
</p>

<p>
  <strong>Laptopfriendly:</strong>
  <%= @listing.laptopfriendly %>
</p>

<p>
  <strong>Familyfriendly:</strong>
  <%= @listing.familyfriendly %>
</p>

<p>
  <strong>Smoking:</strong>
  <%= @listing.smoking %>
</p>

<p>
  <strong>Events:</strong>
  <%= @listing.events %>
</p>

<p>
  <strong>Petsin:</strong>
  <%= @listing.petsin %>
</p>

<p>
  <strong>Wheelchair:</strong>
  <%= @listing.wheelchair %>
</p>

<p>
  <strong>Smokedetector:</strong>
  <%= @listing.smokedetector %>
</p>

<p>
  <strong>Carbonmonoxide detector:</strong>
  <%= @listing.carbonmonoxide_detector %>
</p>

<p>
  <strong>Firstaid:</strong>
  <%= @listing.firstaid %>
</p>

<p>
  <strong>Safetycard:</strong>
  <%= @listing.safetycard %>
</p>

<p>
  <strong>Extinguisher:</strong>
  <%= @listing.extinguisher %>
</p>

<p>
  <strong>Extinguisher location:</strong>
  <%= @listing.extinguisher_location %>
</p>

<p>
  <strong>Fire alarm location:</strong>
  <%= @listing.fire_alarm_location %>
</p>

<p>
  <strong>Gas shut off location:</strong>
  <%= @listing.gas_shut_off_location %>
</p>

<p>
  <strong>Emergency exit:</strong>
  <%= @listing.emergency_exit %>
</p>

<p>
  <strong>Emergency phone:</strong>
  <%= @listing.emergency_phone %>
</p>

<p>
  <strong>The space:</strong>
  <%= @listing.the_space %>
</p>

<p>
  <strong>Guest access:</strong>
  <%= @listing.guest_access %>
</p>

<p>
  <strong>Interactions:</strong>
  <%= @listing.interactions %>
</p>

<p>
  <strong>Other things:</strong>
  <%= @listing.other_things %>
</p>

<p>
  <strong>Houserules:</strong>
  <%= @listing.houserules %>
</p>

<p>
  <strong>Neighbour overview:</strong>
  <%= @listing.neighbour_overview %>
</p>

<p>
  <strong>Neighbour getting around:</strong>
  <%= @listing.neighbour_getting_around %>
</p>

<p>
  <strong>Current:</strong>
  <%= @listing.current %>
</p>

<p>
  <strong>Booking mode:</strong>
  <%= @listing.booking_mode %>
</p>

<p>
  <strong>Available mode:</strong>
  <%= @listing.available_mode %>
</p>

<p>
  <strong>Number:</strong>
  <%= @listing.number %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
